cmake==3.20.5
Cython==0.29.22
easydict==1.7
numpy==1.20.1
opencv-python==4.5.4.60
Pillow==8.1.2
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqt5-tools==5.15.4.3.2
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.2
pyqtgraph==0.12.2
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
qtconsole==5.1.0
scikit-image==0.18.1
scipy==1.4.1
Shapely==1.7.1
torch==1.9.1+cu102
torchaudio==0.9.1
torchvision==0.10.1+cu102
yacs==0.1.8
tensorboardX==1.6
scipy==1.4.1
pandas==1.2.3
PyYAML==5.4.1
json-tricks==3.15.5